{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 140,
	"jsdocPrintWidth": 80,
	"semi": false,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-jsdoc","./node_modules/prettier-plugin-jsdoc/dist/index.js"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
